<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク詳細</title>
</head>
<body>
<h1>タスク詳細</h1>
<a th:href="@{/tasks}">タスク一覧</a>
<div>
    <h2 th:text="'#' + ${task.id} + ' ' +  ${task.summary} "></h2>
    <p th:text="${task.status}"></p>
    <pre th:text="${task.description}"></pre> 
</div>

    
</body>
</html>