<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク作成</title>
</head>
<body>
    <h1>タスク作成</h1>
    <div>
        <form th:action="@{/tasks}" method="post">
            <div>
                <label for="summary_input">summary:</label>
                <input name="summary" type="text" id="summary_input">
            </div>
            <div>
                <label for="descroption_input">description:</label>
                <textarea name="description" id="description_id"></textarea>
            </div>
            <div>
                <label for="status_input">status:</label>
                <select name="status" id="status_input">
                    <option value="TODO">Todo</option>
                    <option value="DOING">Doing</option>
                    <option value="DONE">Done</option>
                </select>
            </div>
            <div>
                <button type="submit">作成</button>
            </div>
        </form>
    </div>
</body>
</html>